<style>
  #MainContent {
    width: 664px;
    float: left;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-raised-button {
    background-color: blue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }

  .labelled {
    color: white;
    font-family: Vivaldi;
    font-size: 18pt;
  }

  .validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }

  .spacer {
    margin-bottom: 20px;
  }
</style>
<form #form="ngForm" autocomplete="off" class="example-form">
  <div class="center">
    <div id="MainContent">
      <label>E-Posta:</label>
      <mat-form-field class="example-full-width">
        <input name=aEmail #aEmail="ngModel" [(ngModel)]="email" matInput type="text" required>
        <div class="validation-error" *ngIf="aEmail.invalid && ( aEmail.touched || aEmail.dirty)">
          This field is required.
        </div>
      </mat-form-field>
      <div class="spacer"></div>
      <div class="example-button-row">
        <button class="labelled" mat-raised-button [disabled]="form.invalid" (click)="search()">Search</button>
        <button class="labelled" mat-raised-button routerLink="/Home">Cancel</button>
      </div>
      <div class="spacer"></div>
      <div *ngIf="Customer!=null">
        <label>Yeni Şifre:</label>
        <mat-form-field class="example-full-width">
          <input name=password #password="ngModel" [(ngModel)]="Customer.Password" matInput type="text" required>
          <div class="validation-error" *ngIf="password.invalid && ( password.touched || password.dirty)">
            This field is required.
          </div>
        </mat-form-field>
        <div class="spacer"></div>
        <div class="example-button-row">
          <button class="labelled" mat-raised-button [disabled]="form.invalid" (click)="save()">Save</button>
          <button class="labelled" mat-raised-button routerLink="/Sign_In">Cancel</button>
        </div>
      </div>

    </div>
  </div>

</form>
