<style>
  #MainContent {
    width: 664px;
    float: left;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: lightskyblue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: brown;
  }

  mark {
    background-color: darkblue;
    color: coral;
  }
  .row1 
  {
    background-color: forestgreen;
    color:white;
  }
</style>
<form class="example-form">
  <div class="center">
    <div id="MainContent">
      <p>RoomList works.</p>
     
      <table class="table">
        <thead>
          <tr>
            <th>Oda_No</th>
            <th>Misafir</th>
            <th>Giriş Tarihi</th>
            <th>Çıkış Tarihi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of hotel_users">
            <th class="row1">{{user.OdaNo}}
            {{user.OdaTip}}</th>
            <th>{{user.Title}}
            {{user.FirstName}} {{user.LastName}}</th>
            <th>{{user.FromDate | date:'dd MMMM yyyy'}}</th>
            <th>{{user.ToDate | date:'dd MMMM yyyy'}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>









