<style>
  #MainContent {
    width: 664px;
    float: left;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-raised-button {
    background-color: firebrick;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }

  .validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }
</style>
<form #form="ngForm" autocomplete="off" class="example-form">
  <div class="center">
    <div id="MainContent">
      <label>Yeni Şifre:</label>
      <mat-form-field class="example-full-width">
        <input name=password #password="ngModel" [(ngModel)]="aPassword" matInput type="text" required>
        <div class="validation-error" *ngIf="password.invalid && ( password.touched || password.dirty)">
          This field is required.
        </div>
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button [disabled]="form.invalid">Save</button>
        <button mat-raised-button routerLink="/Sign_In">Cancel</button>
      </div>
    </div>
   </div>
</form>
