
<style>
  #MainContent {
    width: 664px;
    float: left;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-raised-button {
    background-color: firebrick;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }

  .validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }

  .spacer {
    margin-bottom: 20px;
  }
  .signupbuttons
  {
    color:white;
    background-color:blue;
  }
</style>
<form #form="ngForm" autocomplete="off" class="example-form">
  <div class="center">
    <div id="MainContent">

      <label>Ad Soyad:</label>
      <mat-form-field class="example-full-width">
        <input name="NameSurname" #NameSurname="ngModel" [(ngModel)]="service.formData.NameSurname" matInput type="text" required>
        <div class="validation-error" *ngIf="NameSurname.invalid && NameSurname.touched">This field is required.</div>
      </mat-form-field>
      <br />
      <label>E-Posta:</label>
      <mat-form-field class="example-full-width">
        <input name=Email #Email="ngModel" [(ngModel)]="service.formData.EMail" matInput type="text" required>
        <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field is required.</div>
      </mat-form-field>
      <br />
      <label>Şifre:</label>
      <mat-form-field class="example-full-width">
        <input name=Password #Password="ngModel" [(ngModel)]="service.formData.Password" matInput type="text" required>
        <div class="validation-error" *ngIf="Password.invalid && Password.touched">This field is required.</div>
      </mat-form-field>
      <div class="spacer"></div>
      <div class="example-button-row">

        <button class="signupbuttons" mat-raised-button [disabled]="form.invalid" (click)="onSubmit(form)">Save</button>
        <button class="signupbuttons" mat-raised-button routerLink="/Home">Cancel</button>

      </div>
    </div>
  </div>
</form>

